name: Ubuntu

on:
  push:
    branches: [ 'master', '**' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  docker-start:

    strategy:
      matrix:
        version: [ 'latest' ]

    runs-on: ubuntu-${{ matrix.version }}

    steps:
    - name: printenv
      run: printenv

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 ## all branches/tags

    - name: Run Apt-get update
      run: sudo apt-get update

    - name: Install dependencies
      run: |
          sudo apt-get --fix-missing -y install quilt qemu-user-static debootstrap wget
          sudo apt-get --fix-missing -y install bsdtar || echo
          sudo apt-get --fix-missing -y install libarchive-tools || echo
          sudo apt-get --fix-missing -y install python3 python3-pip || echo

    - name: Install act
      run: |
          wget -qO act.tar.gz https://github.com/nektos/act/releases/latest/download/act_Linux_x86_64.tar.gz && \
          sudo tar xf act.tar.gz -C /usr/local/bin act && \
          act --version && rm -rf act.tar.gz

    - name: make docker-start
      run: make docker-start || echo

    - name: Nuke current Docker installation
      if: ${{ !env.ACT }}
      run: |
        sudo systemctl stop docker
        sudo apt-get purge docker-ce docker-ce-cli containerd.io moby-engine moby-cli
        sudo rm -rf /var/lib/docker

    - name: Re-install Docker
      if: ${{ !env.ACT }}
      run: |
        curl -fsSL https://get.docker.com -o get-docker.sh
        sudo sh get-docker.sh
        docker --version

    - name: Enable experimental features in Docker
      if: ${{ !env.ACT }}
      run: |
        sudo rm -rf /etc/docker/daemon.json
        echo '{"experimental": true}' | sudo tee -a /etc/docker/daemon.json
        sudo systemctl restart docker

    - name: make docker-start
      run: |
        echo "-P ubuntu-16.04=node:16-buster-slim" > $HOME/.actrc
        ## make docker-start || echo
        git clone https://github.com/cplee/github-actions-demo.git && \
        type -P act && act -C github-actions-demo || echo "act not installed?"

